
h3#surface-type-here {
    color: white;
}

h5, label {
    color: black;
}

#surface-type-here {
    display: flex;
    flex-wrap: wrap;
}

.question, .product {
    font-size: 16pt;
    font-weight: 800;
    text-align: center;
    width: 400px;
}

.question, .product > h5 {
    font-size: 12pt;
    font-weight: 500;
}

#nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

#nextButton > input {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}